<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Questionnaire</title>

    <!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="scoreCardApp">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a href="#" class="navbar-left"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Logo_Allianz.png" style="max-width:100px; margin-top: -7px;"></a>
                <a class="navbar-brand" href="#/Home">Home</a>
				<a class="navbar-brand" href="#/leadBoard">LeadBoard</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li>
                        <a href="#">Home</a>
                    </li>-->
                    <!--<li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>	
    <!-- Page Content -->
    <div class="container">
        <ui-view></ui-view>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.12.4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Angular JS Core -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Angular module - UI Router-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- Angular bootstrap-->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
	<!-- High Charts
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	-->
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
     <!-- Custom Scripts-->
    <script type="text/JavaScript" src="../JS/angularApp.js"></script>


    <script type="text/ng-template" id="/home.html">
	    <div class="jumbotron">
		  <h1><a href="#" class="navbar-left"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Logo_Allianz.png" style="margin-top: -47px;"></a> &nbsp&nbsp; Self Evaluation Tool</h1>
		</div>
		<div class="row">
            <div class="col-xs-8 col-xs-offset-2">
				      
			</div>
		</div>

		<div class="row" ng-hide="true">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" ng-model="searchText" class="form-control" name="x" placeholder="Search score cards...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <!-- Button trigger modal -->
                        <button class="btn btn-default" disabled type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
         </div>
         <div class="row">
		
         <div class="col-xs-5">
		        <div class="input-group">
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" ng-model="searchText" class="form-control" name="x" placeholder="Search score cards...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
					
					<!-- Button trigger modal -->
					<!--
                    <span class="input-group-btn">
                        
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>-->
                </div>
                   
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="score in allScores | filter:searchText">
                            <td><h5>{{score["SlNo:"]}}</h5></td>
                            <td><h5><a href={{"#/details/"+score.ScoreCardID}}>{{score.questionnaireID}}</a></h5></td>
                            <td><h5> {{score["name"]}} </h5></td>
							<td><h5> {{score["status"]}} </h5></td>
							<td><h5> <span class="badge">({{score["x"]}} + {{score["y"]}})&nbsp;</span> </h5></td>
                            <td><span type="button" class="btn btn-default"><a href={{"#/details/"+score.questionnaireID}}>View</a></span></td>
                        </tr>
                    </tbody>
                </table>
        </div>
		<div class="col-xs-7">
			<hc-bubble-chart title="My Score Graph" data="bubbleData">Placeholder for pie chart</hc-bubble-chart>
		 </div>	
		</div> 	 

        <!-- rest of template -->
				 <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Dimension</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="DimensionName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="DimensionName" ng-model="newDimension.DimensionName" placeholder="Name of the Dimension">
                    </div>
                  </div>
                 </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createDimension()">Save Dimension</button>
              </div>
            </div>
          </div>
        </div>
    </script>
	<script type="text/ng-template" id="/details1.html">

        <div class="row">
             <h1> Section 2 - Feasibility </h1>
			 <span type="button" class="btn btn-primary" ng-click="updateFeasibility()">Update</span>
			 <span type="button" class="btn btn-danger" ng-click="deleteFeasibility()">Delete</span>
			 <table class="table table-hover">
			 <thead>
			 <tr>
			 <th>Factor</th><th>Rating</th><th>Selected Value</th><th>Weightage</th>
			 </tr>
			 </thead>
			 <tfoot>
			 <tr>
			 <td></td>
			 <td></td>
			 <td> Sum - {{getFeasibilityCount()}}</td>
			 </tr>
			 </tfoot>
			 <tbody>
				  <tr ng-style="{'background-color':getHeatMapColor(factor.SelectedValue)}" ng-repeat="factor in score.Feasibility">
				  <td class="col-sm-7">{{factor.Name}}</td>
				  <td>
					  <label class="radio-inline" ng-repeat="rating in ratings">
						  <span bttooltip  ng-attr-title="{{getScore(rating.value,factor)}}" data-toggle="tooltip" ><input type="radio" ng-model="factor.SelectedValue" name="{{'f-' + factor.ID}}" id="{{'f-' + factor.ID}}" value="{{rating.value}}"> {{rating.value}}</span>
					  </label>
				  </td>
				  <td>
					{{factor.SelectedValue}}
				  </td>
				  <td>
					{{factor.Weightage}} %
				  </td>
				  </tr>
			  </tbody>
			  
			</table>
        </div>
		
		 <div class="row">
             <h1> Section 3 - Risk / Impact assessment </h1>
			 <table class="table table-hover">
			 <thead>
			 <tr>
			 <th>Factor</th><th>Rating</th><th>Selected Value</th><th>Weightage</th>
			 </tr>
			 </thead>
			 <tfoot>
			 <tr>
			 <td></td>
			 <td></td>
			 <td> Sum - {{getRiskCount()}}</td>
			 </tr>
			 </tfoot>
			 <tbody>
				  <tr ng-style="{'background-color':getHeatMapColor(factor.SelectedValue)}" ng-repeat="factor in score.Risk">
				  <td class="col-sm-7">{{factor.Name}}</td>
				  <td>
					  <label class="radio-inline" ng-repeat="rating in ratings">
						  <span bttooltip  ng-attr-title="{{getScore(rating.value,factor)}}" data-toggle="tooltip" ><input type="radio"  ng-model="factor.SelectedValue" name="{{'r-' + factor.ID}}" id="{{'r-' + factor.ID}}" value="{{rating.value}}"> {{rating.value}} </span>
					  </label>
				  </td>
				  <td>
					{{factor.SelectedValue}}
				  </td>
				  <td>
					{{factor.Weightage}} %
				  </td>
				  </tr>
			  </tbody>
			  
			</table>
        </div>
        <!-- rest of template -->
    </script>
	
    <script type="text/ng-template" id="/presentation.html">

        
        <div id="slides_control">
            <div>
              <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{{slide.image}}">
                  <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                  </div>
                  <div class="row">
             <h1>{{slide.Heading}} </h1>
             <h1>{{slide.Description}} </h1>
             <!--<h1> This is Slide number -  {{getActiveSlide()}}</h1>-->
              </div>

                </slide>
              </carousel>
            </div>
        </div>
         
           <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <!--<div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Search by Business</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Search by ID</a></li>
                            <li><a href="#">Search by Party name</a></li>
                        </ul>
                    </div>-->
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" ng-model="searchText" class="form-control" name="x" placeholder="Search Permissions...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <!-- Button trigger modal -->
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="idea in ideas | filter:searchText | orderBy:'+ID'">
                            <td><h5>{{idea["SlNo:"]}}</h5></td>
                            <td><h5><a href={{"#/permissions/"+idea.Name}}>{{idea.IdeaDescription}}</a></h5></td>
                            <td> {{idea["Benefit"]}}</td>
                            <td class="text-right">{{idea.ID}}</td>
                            <td><span type="button" class="btn btn-success"><a href={{"#/permissions/"+idea.Division}}>View</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>           

        <!-- rest of template -->

    </script>

	<script type="text/ng-template" id="/details.html">
		<nav aria-label="...">
		  <ul class="pager">
			<button class="btn btn-default" ng-disabled="currentBatch == 'batch01'" ng-click="setBatch01()"><a>Previous</a></button>
			<button class="btn btn-default" ng-disabled="currentBatch == 'batch02'" ng-click="setBatch02()"><a>Next</a></button>
		  </ul>
		</nav>
		<span ng-show="currentBatch == 'batch01'">
		<div class="jumbotron">
		  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feasibility Check</h1>
		</div>
        <div class="row" ng-repeat="question in score.batch01">
		    <div class="col-xs-8 col-xs-offset-2 panel panel-default">
			    <h4>{{question.QuestionID}}.)&nbsp;&nbsp;{{question.Question}}</h4>
			    <div class="radio" ng-show="isObjective(question)">
				  <label ng-show="showRadio(question.OptionCount,1)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'a-' + question.QuestionID}}" id="{{'a-' + question.QuestionID}}" value="Option1">
					    {{question.Option1}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,2)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option2">
					    {{question.Option2}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,3)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option3">
					    {{question.Option3}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,4)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option4">
					    {{question.Option4}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,5)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option5">
					    {{question.Option5}}
				  </label>
				</div>
				<div class="form-group" ng-hide="isObjective(question)">
				  <label for="comment">Ans:</label>
				  <textarea class="form-control" rows="5" id="comment" ng-model="question.SelectedValue"></textarea>
				</div>
				<div class="form-group" ng-hide="true">
				  <label for="comment">Correct Answer:</label>
				  <textarea style="background-color:#87f564 !important;" class="form-control" rows="1" id="comment" disabled ng-model="question.Comments"></textarea>
				</div>
				
			</div>
		</div>
		<!-- <span type="button" ng-show="showSubmit(1)" class="btn btn-primary col-xs-8 col-xs-offset-2" ng-click="updateBatch01()">Submit</span>-->
		</span>
		<span ng-show="currentBatch == 'batch02'">
		<div class="jumbotron">
		  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Risk Analysis</h1>
		</div>
        <div class="row" ng-repeat="question in score.batch02">
		    <div class="col-xs-8 col-xs-offset-2 panel panel-default">
			    <h4>{{question.QuestionID}}.)&nbsp;&nbsp;{{question.Question}}</h4>
			    <div class="radio" ng-show="isObjective(question)">
				  <label ng-show="showRadio(question.OptionCount,1)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'a-' + question.QuestionID}}" id="{{'a-' + question.QuestionID}}" value="Option1">
					    {{question.Option1}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,2)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option2">
					    {{question.Option2}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,3)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option3">
					    {{question.Option3}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,4)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option4">
					    {{question.Option4}}
				  </label>
				  <label ng-show="showRadio(question.OptionCount,5)" class="col-md-6">
				  <input type="radio"  ng-model="question.SelectedValue" name="{{'b-' + question.QuestionID}}" id="{{'b-' + question.QuestionID}}" value="Option5">
					    {{question.Option5}}
				  </label>
				</div>
				<div class="form-group" ng-hide="isObjective(question)">
				  <label for="comment">Ans:</label>
				  <textarea class="form-control" rows="5" id="comment" ng-model="question.SelectedValue"></textarea>
				</div>
				<div class="form-group" ng-hide="true">
				  <label for="comment">Correct Answer:</label>
				  <textarea style="background-color:#87f564 !important;" class="form-control" rows="3" id="comment" disabled ng-model="question.Comments"></textarea>
				</div>
			</div>
		</div>
		<span type="button" ng-show="showSubmit(2)" class="btn btn-primary col-xs-8 col-xs-offset-2" ng-click="updateAllBatches()">Submit</span>
		</span>
		<div class="row"></div>
    </script>

    <script type="text/ng-template" id="/leadBoard.html">
		<div class="jumbotron">
		  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hall Of Fame</h1>
		</div>
		 <div class="col-xs-8 col-xs-offset-2">
		 <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="lead in leadBoard.userLeads">
                            <td><h5>{{lead.id}}</h5></td>
                            <td><h5> {{lead.name}} </h5></td>
							<td><h5> {{lead.score}} </h5></td>
                        </tr>
                    </tbody>
                </table>
		 </div>

    </script>
</body>

</html>
