<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Try Outs</title>

    <!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="tryOutApp">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li>
                        <a href="#">Home</a>
                    </li>-->
                    <!--<li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <ui-view></ui-view>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.12.4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Angular JS Core -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Angular module - UI Router-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- Angular bootstrap-->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
     <!-- Custom Scripts-->
    <script type="text/JavaScript">
    var app = angular.module('tryOutApp', ['ui.router','ui.bootstrap']);

        //deals with all calls made to app server.
        app.factory('webServiceCall',['$http', function($http){
            var o = {
                parties: [],
                slides:[],
                party: {}
            };

            o.getAll = function () {
                return $http.get('/ideas').success(function (data) {
                    angular.copy(data, o.parties);
                });
            };
            o.getSlides = function () {
                return $http.get('/slides').success(function (data) {
                    angular.copy(data, o.slides);
                });
            };
            o.get = function (id) {
                return $http.get('/party/' + id).success(function (data) {
                    angular.copy(data[0], o.party);
                });
            };
           
            return o;
        }]);

        //deals with UI updates
        app.controller('HomeCtrl', [
        '$scope',
        'webServiceCall',
        function ($scope, webServiceCall) {
            $scope.parties = webServiceCall.parties;
        }]);

        //deals with UI updates
        app.controller('DetailsCtrl', [
        '$scope',
        '$stateParams',
        'webServiceCall',
        function ($scope,$stateParams, webServiceCall) {
            $scope.party = webServiceCall.party;
        }]);

         //deals with UI updates
        app.controller('PresentationCtrl', [
        '$scope',
        '$stateParams',
        'webServiceCall',
        function ($scope,$stateParams, webServiceCall) {
            //$scope.party = webServiceCall.party;
            webServiceCall.getSlides();
            $scope.myInterval = 300000;
              $scope.slides1 = [
                {
                  image: 'http://lorempixel.com/400/500/'
                },
                {
                  image: 'http://lorempixel.com/400/200/food'
                },
                {
                  image: 'http://lorempixel.com/400/200/sports'
                },
                {
                  image: 'http://lorempixel.com/400/200/people'
                }
              ];
              

              $scope.ideas = webServiceCall.parties;
              $scope.slides = webServiceCall.slides;
              $scope.getActiveSlide = function () {
                    return $scope.slides.filter(function (s) { return s.active; alert(s.active); })[0];
                };
        }]);

        //configures which html piece to load and determines state.
        app.config([
        '$stateProvider',
        '$urlRouterProvider',
        function ($stateProvider, $urlRouterProvider) {
            $stateProvider.state('home', {
                  url: '/index',
                  templateUrl: '/home.html',
                  controller: 'HomeCtrl',
                  resolve: {
                      postPromise: ['webServiceCall', function (webServiceCall) {
                          return webServiceCall.getAll();
                      }]
                  }
              });
            $stateProvider.state('parties', {
                  url: '/parties/{id}',
                  templateUrl: '/selectedParty.html',
                  controller: 'DetailsCtrl',
                  resolve: {
                      postPromise: ['$stateParams', 'webServiceCall', function ($stateParams, webServiceCall) {
                          return webServiceCall.get($stateParams.id);
                      }]
                  }
              });
            $stateProvider.state('presentation', {
                  url: '/presentation',
                  templateUrl: '/presentation.html',
                  controller: 'PresentationCtrl',
                  resolve: {
                      postPromise: ['webServiceCall', function (webServiceCall) {
                          return webServiceCall.getAll();
                      }]
                  }
              });

            $urlRouterProvider.otherwise('presentation');
        }]);

        app.config(['$httpProvider', function ($httpProvider) {
            //initialize get if not there
            if (!$httpProvider.defaults.headers.get) {
                $httpProvider.defaults.headers.get = {};
            }

            // Answer edited to include suggestions from comments
            // because previous version of code introduced browser-related errors

            //disable IE ajax request caching
            $httpProvider.defaults.headers.get['If-Modified-Since'] = 'Mon, 26 Jul 1997 05:00:00 GMT';
            // extra
            $httpProvider.defaults.headers.get['Cache-Control'] = 'no-cache';
            $httpProvider.defaults.headers.get['Pragma'] = 'no-cache';
        }]);


    </script>

    <script type="text/ng-template" id="/home.html">

        <div class="row">
             <h1>This is home screen .Best for showing dashboards, summaries etc </h1>
             <h1>This is home screen .Best for showing dashboards, summaries etc </h1>
             <h1>This is home screen .Best for showing dashboards, summaries etc </h1>
             <h1>This is home screen .Best for showing dashboards, summaries etc </h1>

        </div>

        <!-- rest of template -->
    </script>
    <script type="text/ng-template" id="/presentation.html">

        
        <div id="slides_control">
            <div>
              <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{{slide.image}}">
                  <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                  </div>
                  <div class="row">
             <h1>{{slide.Heading}} </h1>
             <h1>{{slide.Description}} </h1>
             <!--<h1> This is Slide number -  {{getActiveSlide()}}</h1>-->
              </div>

                </slide>
              </carousel>
            </div>
        </div>
         
           <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <!--<div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Search by Business</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Search by ID</a></li>
                            <li><a href="#">Search by Party name</a></li>
                        </ul>
                    </div>-->
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" ng-model="searchText" class="form-control" name="x" placeholder="Search Permissions...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <!-- Button trigger modal -->
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="idea in ideas | filter:searchText | orderBy:'+ID'">
                            <td><h5>{{idea["SlNo:"]}}</h5></td>
                            <td><h5><a href={{"#/permissions/"+idea.Name}}>{{idea.IdeaDescription}}</a></h5></td>
                            <td> {{idea["Benefit"]}}</td>
                            <td class="text-right">{{idea.ID}}</td>
                            <td><span type="button" class="btn btn-success"><a href={{"#/permissions/"+idea.Division}}>View</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>           

        <!-- rest of template -->
    </script>


    <script type="text/ng-template" id="/selectedParty.html">

        <div class="row">
             <h1>for showing individual details. </h1>
        </div>

    </script>
</body>

</html>
